port {{ REDIS_SENTINEL2_PORT }}
protected-mode no
daemonize yes
dir "/data"
logfile "/var/log/redis/{{ REDIS_SENTINEL2_PORT }}.log"
sentinel monitor mymaster {{ REDIS_MATER_IP }}  {{ REDIS_MATER_PORT }} {{ QUORUM_NUM }}
sentinel failover-timeout mymaster 60000
sentinel down-after-milliseconds mymaster 10000
